/*public/styles/admin/header.css*/
.region{
    max-width: 1200px;
}

.site{
    margin-top: 0;
}

.Header{
    background: var(--background-dark);
}

.Header .wrapper{
    display: grid;
    grid-template-columns: 25% auto 25%;
    align-items: center;
    padding: 5px;
}

.Header .wrapper .logo{
    font: 35px/1.5 Anton, Limonf3;
}

.Header .wrapper .search{
    display: grid;
    grid-template-columns: 20% auto 20%;
}

.Header .wrapper .search input, 
.Header .wrapper .search select{
    font: var(--body-font);
    padding: 3px 10px;
}

.Header .wrapper .logout{
    text-align: right;
    font-size: 18px;
}

.Header .wrapper .logout a{
    color: white;
}

.Main{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 25% auto;
}